<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Notícia</title>
</head>

<body>

    <h1>Notícia</h1>

    <table>
        <tr>
            <td>
                <b><%=noticia[0].titulo %></b>
            </td>
        </tr>
        <tr>
            <td>
                <%=noticia[0].noticia %>
            </td>
        </tr>
    </table>

</body>

</html>